/build/
/cache/
/composer.lock
/dist/*.bundle.js
/dist/*.bundle.js.gz
/docs/
/.env
/node_modules/
/.phpcheck/
/.php_cs.cache
/php_errors.log
/phpcheck.log
/.phpunit.result.cache
/report/
/vendor/
/vendor-bin/
/.vscode/
