<?xml version="1.0" encoding="UTF-8"?>
<phpcheck bootstrap="vendor/autoload.php">
    <suites>
        <suite name="Checks">
            <directory suffix="Check.php">./checks</directory>
        </suite>
    </suites>
    <subscribers>
        <subscriber />
    </subscribers>
</phpcheck>
